# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Model Files
*.pkl
*.joblib

# Dataset
data/*.csv
*.csv

# Streamlit Cache
.streamlit/cache/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db